*{
    box-sizing: border-box;
    margin: 0;
    font-family: fontMedium;
}
@font-face {
    font-family: fontMedium;
    src: url(./font/static/PlusJakartaSans-Medium.ttf);
}
.container {
    padding-top: 37px;
    padding-left: 45px;
    background-color: #f5f5f5;
    width: 100%;
    height: 100vh;
}
.header {
    width: 100%;
    height: 100%;
}
.task--icon {
    display: flex;
}
.task--icon p {
    margin-top: 5px;
}
.task--icon img {
    margin-left: 4px;
    margin-top: 5px;
    width: 23px;
    height: 23px;
}
.task--img {
    height: 58px;
    width: 171px;
}
.new--task {
    color: #5A5C63;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    align-items: center;
}
.new-task {
    display: flex;
    cursor: pointer;
}
.todos--item__folder {
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: 500px;
    overflow: auto;
    position: relative;
}
.new-task i {
    margin-top: 3px;
    margin-right: 10px;
}
.todos {
    margin-top: 20px;
}
.todos .todos--container {
    padding: 0 30px;
    margin-left: -50px;
}
.todos .todos--container .todos--component {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.todos .todos--container .todos--component .todos--item {
    flex-basis: 33.333%;
    padding: 0 23px;
    position: relative;
}
.todos .todos--container .todos--component .todos--item .todos--info {
    padding-bottom: 16px;
    border-bottom: 2px solid #00a6da;
}
.todos .todos--container .todos--component .todos--item .todos--info .todos--title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 34px;
    background-color: #00a6da;
    padding: 0 9px;
    color: white;
    font-weight: 700;
    border-radius: 4px;
}
.todos .todos--container .todos--component .todos--item:nth-child(2) .todos--info{
    border-bottom: 2px solid #E2D071;
}
.todos .todos--container .todos--component .todos--item:nth-child(2) .todos--info .todos--title{
    background-color: #E2D071;
}
.todos .todos--container .todos--component .todos--item:nth-child(3) .todos--info{
    border-bottom: 2px solid #3BC057;
}
.todos .todos--container .todos--component .todos--item:nth-child(3) .todos--info .todos--title{
    background-color: #3BC057;
}
.todos .todos--container .todos--item__component {
    /* position: absolute; */
    width: 90%;
    height: 216px;
    top: 70px;
    background: #FFFFFF;
    border-radius: 8px;
    margin: 10px 15px;
    padding: 10px 20px;
}
.todos .todos--container .todos--item__component:nth-child(2){
    top: 306px;
}
.todos .todos--container .todos--item__component .todos--component__header {
    display: flex;
    justify-content: space-between;
}
.todos .todos--container .todos--item__component .todos--component__header a {
    color: #4D8EFF;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
}
.todos .todos--container .todos--item__component .todos--component__header .todos--component__icon i{
    margin-left: 7.5px;
    color: #333333;
    cursor: pointer;
}
.todos .todos--container .todos--item__component .todos--component__title{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #393939;
    margin-right: 65px;
}
.todos .todos--container .todos--item__component .todos--component__line {
    width: 250px;
    border: 1px solid #DBDBDB;
    margin-top: 20px;
}
.todos .todos--container .todos--item__component h6 {
    color: #5A5C63;
    margin-top: 20px;
}
.todos .todos--container .todos--item__component .todos--component__footer {
    display: flex;
    margin-top: 60px;
}
.todos .todos--container .todos--item__component  .todos--component__footer i {
    margin-right: 5px;
    margin-top: 2.5px;
}
.task-form {
    display: none;
    position: fixed;
    width: 380px;
    background-color: white;
    left: 50%;
    top: 50%;
    padding: 16px;
    transform: translate(-50%, -50%);
  }
  .task-form .title {
    text-align: center;
    margin-bottom: 12px;
  }
  .task-form .form-group {
    /* border: 1px solid black; */
    border-radius: 1px;
    margin-bottom: 16px;
  }
  #input-element, #input-element2, #input-element3 {
    border: 1px solid black;
  }
  .task-form .form-group input,
  .task-form .form-group textarea {
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 12px;
  }
  .task-form .status {
    /* display: none; */
    justify-content: space-between;
    margin-bottom: 12px;
  }
  .task-form .icon-close {
    position: absolute;
    font-size: 2.5rem;
    cursor: pointer;
    right: 6px;
    top: 4px;
  }
  .task-form button {
    padding: 8px 6px;
    width: 100%;
    text-align: center;
  }
  .cover-layer {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.24);
  }